pip==9.0.1
bumpversion==0.5.3
click==6.6
coverage
wheel
watchdog==0.8.3
flake8==3.2.0
tox==2.4.1
Sphinx==1.4.8
pyflakes==1.3.0
pytest==3.0.4
pytest-cookies==0.2.0
pytest-cov==2.4.0
pytest-flake8==0.8.1
pytest-html==1.11.0
pytest-xdist==1.15.0
{% if cookiecutter.use_pypi_deployment_with_travis == 'y' -%}
cryptography==1.5.3
PyYAML>=3.11{% endif %}
